* text=auto eol=lf

*.ts    text diff
*.tsx   text diff
*.js    text diff
*.jsx   text diff
*.json  text diff
*.md    text diff
*.yml   text diff
*.yaml  text diff
*.html  text diff
*.css   text diff
